__pycache__/
*.pyc
.env
.venv/
venv/
uploads/*
outputs/json/*
outputs/text/*
outputs/labeled_pdfs/*
!uploads/.gitkeep
!outputs/json/.gitkeep
!outputs/text/.gitkeep
!outputs/labeled_pdfs/.gitkeep
storage/uploads/*
storage/exports/json/*
storage/exports/text/*
storage/exports/labeled-pdfs/*
!storage/
!storage/uploads/
!storage/exports/
!storage/exports/json/
!storage/exports/text/
!storage/exports/labeled-pdfs/
!storage/uploads/.gitkeep
!storage/exports/json/.gitkeep
!storage/exports/text/.gitkeep
!storage/exports/labeled-pdfs/.gitkeep

**/models/spacy-drug-ner/
**/models/xlmr-drug-ner/